[submodule "output"]
	path = output
	url = git@github.com:ananana/ananana.github.io.git
[submodule "content/themes/pelican-alchemy"]
	path = content/themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
